<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamrun.runbike.user.dao.UserDao">

<resultMap id="userInfoMap" type="com.teamrun.runbike.user.domain.UserInfo">
	<id property="u_idx" column="u_idx" />
	<result property="u_id" column="u_id" />
	<result property="u_pw" column="u_pw" />
	<result property="u_name" column="u_name" />
	<result property="u_photo" column="u_photo" />
	<result property="regdate" column="regdate" />
	<result property="u_code" column="u_code" />
	<result property="u_sns" column="u_sns" />
</resultMap>

<resultMap type="com.teamrun.runbike.user.domain.LoginLogInfo" id="loginLogInfoMap">
	<id property="u_idx" column="u_idx" />
	<result property="login_date" column="login_date" />
</resultMap>

<select id="chkLoginLog" parameterType="hashmap" resultType="int">
select count(*) as login_date from run_bike.login_log where u_idx = #{u_idx} and login_date = #{date};
</select>

<insert id="insertUser">
	insert into user (u_id, u_pw, u_name, u_photo, regdate, u_code) values(#{u_id},#{u_pw},#{u_name},#{u_photo}, #{regdate},#{u_code}) 
</insert>
<insert id="insertLoginDate">
	INSERT INTO run_bike.login_log VALUES(#{u_idx}, date_format(now(),'%Y-%m-%d'));
</insert>
<update id="chkVerify">
	update user set u_verify=true where u_id=#{param1} and u_code = #{param2}
</update>

<update id="updateUser" parameterType="hashmap">
	update user set u_
</update>

<select id="selectUserById" resultMap="userInfoMap">
	select * from user where u_id=#{u_id}
</select>
<select id="selectIdxById">
	select u_idx from user where u_id=#{u_id}
</select>

<update id="reChkVerify">
	update user set u_verify=true where u_id=#{param1}
</update>
</mapper>