@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

html {
  font-size: 14px;
font-family: 'Noto Sans KR', sans-serif;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
header>div.navbar-collapse{
    display: flex;
    flex-grow: 1;
}
header .toggle-menu-btn{
    display: none;
}
header h5.page-select-name{
        display: none;
    }
nav a{
    letter-spacing: -1px;
    padding-bottom: 1.5rem;
    color: #000;
}
nav a:hover,nav a.active{
    border-bottom: 4px solid #007bff;
    text-decoration: none;
    color: #007bff
}
nav a i[class*="fa"]{
    display: none;
}
header .user-info{
    text-decoration: underline;
}
#list-tab{
    padding-right: 0;
    font-size: 14px;
    
}
#list-tab a{
/*    margin: 0 5px;*/
    padding: .5rem;
}
@media (min-width: 768px) and (max-width: 992px){
    header nav a, header .text-primary{
        font-size: 14px;
    }
    
}

@media (max-width: 768px) {
    header{
        position: relative;
    }
    header h5.logo{
        display: none;
    }
    header h5.page-select-name{
        display: block;
        margin-left: 4rem;
        vertical-align: bottom;
    }
    header>div.navbar-collapse{
        display: none;
    }
    header>div.navbar-collapse.opened{
/*        max-height: calc(100% - 50px);*/
        overflow-y: scroll;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        position: fixed;
        padding-top: 50px;
        left: 0;
        top: 0;
        bottom: 0;
        right: 20%;
        background-color:#eef;
        z-index: 1000;
        font-size: 16px;
        transition: all 0.2s;
    }
    header .toggle-menu-btn{
        display: block;
        position: absolute;
        left: 20px;
        top: 20px;
        border: none;
        background: none;
        padding: 4px 0;
        outline: none;
        z-index:1001;
    }
    header .toggle-menu-btn .hamburger-bar{
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 30px;
        height: 4px;
        background-color: #000;
        transition: all 0.1s;
    }
    header .toggle-menu-btn.active .hamburger-bar{
        opacity: 0;
    }
    header .toggle-menu-btn::before,header .toggle-menu-btn::after{
        display: block;
        border-top: 4px solid #000;
        content: '';
        transition: transform 0.2s;
        transform: rotate(0);
    }
    header .toggle-menu-btn.active:before{
        width: 120%;
        transform: rotate(-45deg) translate(-8px, 7px);
    }
    header .toggle-menu-btn.active:after{
        width: 120%;
        transform: rotate(45deg) translate(-4px, -2px);
        margin-top: -3px;
    }
    header nav{
        order:2;
        border-top: 1px solid #ccc;
    }
    header nav a{
        display: block;
        padding: 2.2rem;
    }
    header nav a:hover,header nav a.active{
        border-bottom: none;
        background-color: #ddd;
    }
    nav a i[class*="fa"]{
        display: inline-block;
        margin-right: 8px;
    }
    header .user-info{
        order:1;
        padding: 3rem;
        font-size: 20px;
    }
    header small{
        padding: 2rem;
        order: 3;
        font-size: 16px;
        color: red;
    }
    header+.row{
        margin-bottom: 79px;
    }
    #list-tab{
        position: absolute;
        top: 71px;
        left:0;
        right:0;
/*    
        left: -1px;
        right:-1px;
*/
    }
    #list-tab a{
        padding: 1.5rem;
    }
    #list-tab.active a{
        background-color: #ddd;
    }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}