/*---------------------
  Header
-----------------------*/

input[type=""]
.header-section {
	height: 142px;
	position: absolute;
	width: 100%;
	z-index: 9;
}

.header-section:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	content: "";
	z-index: -1;
}

.main-menu {
	position: relative;
	padding-top: 55px;
}

.main-menu .logo {
	position: absolute;
	left: 50%;
	top: 30px;
	margin-left: -42.5px;
}

.main-menu .logo a {
	display: block;
	width: 85px;
	height: 85px;
}

.main-menu ul {
	list-style: none;
	text-align: right;
	margin-left: 200px;
}

.main-menu ul li {
	float: none;
	display: inline-block;
	padding: 4px;
}

.main-menu ul li a {
	color: #fff;
	display: block;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
}

.main-menu ul li:nth-child(1) {
	float: left;
	margin-right: 40px;
	padding: 4px;
}

.main-menu ul li:nth-child(2) {
	float: left;
	margin-right: 20px;
	padding: 4px;
}

.main-menu ul li:nth-child(3) {
	float: left;
	padding: 4px;
}

.main-menu ul li:nth-child(4) {
	margin-right: 35px;
	padding: 4px;
}

.main-menu ul li:nth-child(5) {
	margin-right: 35px;
	padding: 4px;
}

.main-menu ul .search-btn {
	color: #fff;
	cursor: pointer;
	margin-left: 152px;
}

.slicknav_menu {
	display: none;
}

#page-wrapper{
    position: relative;
}
section#modal-register{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
    background-color: #fff;
    border-radius: 8px;
}
#modal-register h3{
    text-align: center;
}
@media screen and (max-width: 767px){
    section#modal-register{
        position: static;
        width: 100%;
        height: 100vh;
    }
}

section#modal-register .inner{
    padding: 20px;
}

section#modal-register form{
    color: #000;
}